<html>
<head>
    <title>Add new torrent</title>
</head>
<body>
<form action="addtorrent" method="post" enctype="multipart/form-data">
    Torrent file name:
    <input type="file" name="torrent"/>
    <input type="submit" value="upload"/>
</form>
#if ($entry)
<pre>
$entry
</pre>
#end
#if ($torrentInfo)
<table>
    <tbody>
    #foreach($announce in $torrentInfo.Announces)
    <tr>
        <td>Announce:</td>
        <td>$announce</td>
    </tr>
    #end
    #if($torrentInfo.Properties)
    #foreach($key in $torrentInfo.Properties)
    <tr>
        <td>${key}:</td>
        <td>$torrentInfo.Properties.get($key)</td>
    </tr>
    #end
    #end
    #if($torrentInfo.Comment)
    <tr>
        <td>Comment:</td>
        <td>$torrentInfo.Comment</td>
    </tr>
    #end
    #if($torrentInfo.CreatedBy)
    <tr>
        <td>Created by:</td>
        <td>$torrentInfo.CreatedBy</td>
    </tr>
    #end
    #if($torrentInfo.CreationDate)
    <tr>
        <td>Creation date:</td>
        <td>$dateTool.format("default_date", $torrentInfo.CreationDate)</td>
    </tr>
    #end
    <tr>
        <td>Obey privacy:</td>
        <td>$torrentInfo.ObeyPrivacy</td>
    </tr>
    #if($torrentInfo.Publisher)
    <tr>
        <td>Publisher:</td>
        <td>$torrentInfo.Publisher</td>
    </tr>
    #end
    #if($torrentInfo.PublisherUrl)
    <tr>
        <td>Publisher url:</td>
        <td>$torrentInfo.PublisherUrl</td>
    </tr>
    #end
    <tr>
        <td>Info hash:</td>
        <td>$torrentInfo.InfoHash</td>
    </tr>
    <tr>
        <td>Piece length:</td>
        <td>$torrentInfo.PieceLength</td>
    </tr>
    #set($count = 1)
    #foreach($file in $torrentInfo.files)
    <tr>
        <td colspan="2">File #$count</td>
    </tr>
    #if($file.Directory)
    <tr>
        <td>Directory:</td>
        <td>$file.Directory</td>
    </tr>
    #end
    <tr>
        <td>File name:</td>
        <td>$file.FileName</td>
    </tr>
    <tr>
        <td>File size:</td>
        <td>$file.Size</td>
    </tr>
    #if($file.Md5Hash)
    <tr>
        <td>MD5 hash:</td>
        <td>$file.Md5Hash</td>
    </tr>
    #end
    #set($count = $count + 1)
    #end
    #set($count = 1)
    #foreach($hash in $torrentInfo.piecesHashes)
    <tr>
        <td>Piece #$count hash:</td>
        <td>$hash</td>
    </tr>
    #set($count = $count + 1)
    #end
    </tbody>
</table>
#end
</body>
</html>